table {
	border-collapse: separate;
	border-spacing: 0;

}
th {
	border-bottom: none !important;
    background: white;
}
.th {
	padding: 10px 30px;
	background-color: #2a3e50;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #FFF;
}
td {
    background: white;
}
.table-content {
    padding-top: 25px;
}
.table-bordered {
    border: none;
}
body {
    background: #292929;
}
